@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto|Six+Caps&display=swap");
body {
  background: #ffffff; }

.navigation {
  background: #ffffff;
  padding-left: 1rem; }

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.3em;
  color: #000000; }

h1, h2, p {
  margin-top: 0;
  margin-bottom: 1em;
  padding-left: 1em; }

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: #03afc2; }

.main-section {
  background-image: url("../images/laptop-background-black.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .main-section h2 {
    font-family: "Six Caps", sans-serif;
    font-size: 1.7em;
    letter-spacing: 0.3em;
    word-spacing: 0;
    color: #A7A7A7; }
  .main-section img {
    max-width: 100%;
    margin-left: 1.5em; }

.about-me {
  width: 90%;
  margin: 0 auto;
  max-width: 50em;
  margin-top: 5em;
  margin-bottom: 5em; }
  .about-me::after {
    content: '';
    display: block;
    clear: both; }

@media (min-width: 42em) {
  .about-image {
    float: left;
    margin-right: 1em; } }

.about-name {
  margin-bottom: .25em; }

.about-title {
  font-family: "Six Caps", sans-serif;
  margin: .5em 0;
  word-spacing: 0; }

#bio-image {
  width: 300px;
  height: 300px; }

.github-icon {
  height: 36px;
  width: 36px; }

#contact {
  margin-top: 1em;
  margin-bottom: .5em; }

.contact a {
  color: #606060; }

footer {
  background-color: #000000;
  color: #ffffff;
  height: 5vh;
  position: absolute;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 55px;
  width: 100%; }

.navigation {
  height: 5vh;
  font-size: 1em; }
  .navigation .navbar {
    color: #000000; }

.btn {
  border-radius: 0; }

.btn-dark {
  padding-left: 16.5px;
  padding-right: 16px; }

.portfolio {
  text-align: left;
  background-color: #ffffff;
  padding-top: 1.5em; }

#portfolio {
  margin-bottom: 1rem; }

.portfolio-item {
  margin-top: 1em;
  margin-left: 1em;
  position: relative;
  overflow: hidden; }
  .portfolio-item img {
    display: block;
    border: 2px solid black; }

.portfolio-items figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(3, 175, 194, 0.5);
  color: #ffffff;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.portfolio-title {
  color: #ffffff;
  font-family: "Six Caps", sans-serif;
  letter-spacing: 0.3em;
  word-spacing: 0;
  font-size: 3.5rem;
  margin-bottom: auto;
  padding-left: 10px; }

.portfolio-items button {
  margin-left: 1.5em; }

.portfolio-items form {
  margin-bottom: .5em; }
