@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto|Six+Caps&display=swap");
body {
  background: #ffffff; }

.navigation {
  background: #ffffff;
  padding-left: 1rem; }

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.3em;
  color: #606060; }

h1, h2, p {
  margin-top: 0; }

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: #03afc2; }

h2 {
  font-family: "Six Caps", sans-serif;
  font-size: 1.7em;
  word-spacing: 0;
  letter-spacing: 0.3em; }

.main-section {
  background-image: url("../images/laptop-background-black.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
  align-items: center;
  justify-content: center;
  color: #A7A7A7; }

img {
  max-width: 100%; }

@media (min-width: 42em) {
  .about-image {
    float: left;
    margin-right: 1em; } }

.about-name {
  margin-bottom: .25em; }

.about-title {
  margin: .5em 0; }

@supports (display: grid) {
  .main-section {
    display: grid;
    grid-template-columns: [port-start] minmax(6em, 1fr) [name-start] minmax(6em, 1fr) [img-end] 2fr [port-end]; }
  .about-image {
    grid-column: port-start / img-end;
    grid-row: 1 / 2; }
  .about-name {
    grid-column: name-start / port;
    grid-row: 1 / 2;
    align-self: end; }
  .about-title,
  .about-text {
    grid-column: port / port; } }

#bio-image {
  width: 300px;
  height: 300px; }

.github-icon {
  height: 36px;
  width: 36px; }

.navigation {
  height: 10vh;
  font-size: 1.5em; }

.btn {
  border-radius: 0; }
