button {
    margin-left: 2em;
}

.btn {
    border-radius: 0;
}

.btn-dark {
    padding-left: 16.5px;
    padding-right: 16px;
}

.btn-outline-danger {
    padding-left: 16.5px;
    padding-right: 27px;
}

.heroku-btn {
    width: 170px;

}