@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto|Six+Caps&display=swap');

$letter-spacing: .3em;
$word-spacing: 0;

$roboto: 'Roboto', sans-serif;
$six-caps: 'Six Caps', sans-serif;
$ff-default: Arial, "Helvetica Neue", Helvetica, sans-serif;



